<FluentStack>
    <FluentSelect TOption="AllowedValue"
                  Label="@Element.Label"
                  Name="@Element.Name"
                  Placeholder="@Element.Placeholder"
                  OptionText="(opt=>opt.Value)"
                  Required="@(Element.Constraints?.Required ?? false)"
                  Multiple="@(Element.Multiselect ?? false)"
                  Style="width: 100%;">
        <OptionTemplate>
            @context.Value
        </OptionTemplate>
        <ChildContent>
            @if (Element.Constraints?.AllowedValues != null)
            {
                foreach (var item in Element.Constraints.AllowedValues)
                {
                    <FluentOption Value="@item.Value">
                        @item.Description
                    </FluentOption>
                }
            }
        </ChildContent>
    </FluentSelect>
    @if (Element.Constraints.Required.HasValue)
    {
        <p>* req</p>
    }
</FluentStack>

@code {
    [Parameter] public DropDownElement Element { get; set; } = default!;
    private FluentSelect<AllowedValue>? _fluentSelect;
}