@namespace AzureApplicationAccelerator.Client.Components.Elements

<FluentStack Orientation="Orientation.Vertical">
    <div>
        <FluentTextField
            TextFieldType="TextFieldType.Password"
            Label="@(Element.Label?.Password ?? "Password")"
            Name="@Element.Name"
            Style="width: 100%;" />
    </div>
    @if (!(Element.Options?.HideConfirmation ?? false))
    {
        <div>
            <FluentTextField
                TextFieldType="TextFieldType.Password"
                Label="@(Element.Label?.ConfirmPassword ?? "Confirm password")"
                Name="@($"{Element.Name}_confirm")"
                Style="width: 100%;" />
        </div>
    }
    <div>
        @if (!string.IsNullOrWhiteSpace(Element.Constraints?.ValidationMessage))
        {
            <FluentLabel Typo="Typography.Body" Color="@Color.Error">
                @Element.Constraints?.ValidationMessage
            </FluentLabel>
        }
    </div>
</FluentStack>

@code {
    [Parameter]
    public PasswordBoxElement Element { get; set; } = default!;
}